

@import "utils/variables";
@import "utils/mixins";

@import "base/normalize";
@import "base/fonts";

@import "layout/base";
@import "layout/main_header";
@import "layout/main_footer";


@import "blocks/index/header_content";
@import "blocks/index/index_header";
@import "blocks/index/reason_pic";
@import "blocks/index/features";
@import "blocks/index/reason";
@import "blocks/index/hotel_search";
@import "blocks/index/map";
@import "blocks/social";


@import "blocks/form/header_cut";
@import "blocks/form/form_header";
@import "blocks/form/field_represent";
@import "blocks/form/field_impression";
@import "blocks/form/field_dates";
@import "blocks/form/field_number";
@import "blocks/form/field_places";
@import "blocks/form/field_photos";


.form {


    &__label {
        display: block;
        padding-left: 20px;
        padding-bottom: 15px;
        color: $color--text;
        font-size: $font-size--text;

        & span {
            color: red;
        }
    }

    &__field {
        width: 236px;
        margin-left: 20px;
        margin-bottom: 22px;
        padding: 22px;
        color: $color--black;
        font-size: $font-size--title;
        font-weight: bold;
        text-transform: none;
        border: 0;
        background: $color--input;

        &--small {
            width: 186px;
        }
    }

}

