html,
body {
    background: #f2f2f2;
    margin: 0;
    padding: 0; 
    font-family: $font-family--main;
    font-size: $font-size--text;
    line-height: $line-height--text;
    text-transform: uppercase;
}

.wrapper {
    min-width: 320px;
    max-width: 1200px;
    background: $color--white;
    margin: 0 auto;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}