

.main_footer {
    margin: 0 auto;
    padding: 0 0 20px;
    text-align: center;

    @media all and (min-width: $media-tablet) {
        width: 100%;
        height: 50px;
        margin: 0;
        margin-bottom: 40px;
        padding: 36px 0;
        background: $color--white;
        font-size: 0;
    }
}

    .contacts {
        font-size: $font-size--heading;
        

        @media all and (min-width: $media-tablet) {
            @include inline-block(middle);
            width: 33.33%;
            text-align: center;
            margin: 0;
        }

        & a {
            color: $color--black;
            font-weight: bold;
            text-decoration: none;
        }
    }

  
    .copyright {

        @media all and (min-width: $media-tablet) {
            @include inline-block(middle);
            width: 33.33%;
            font-size: $font-size--text;
        }

        &__htmlacademy {
            @include inline-block(middle);
            font-size: 0;
            margin-left: 10px;
            background: url("../img/svg/htmlacademy.svg") no-repeat;
            width: 30px;
            height: 35px;
            background-size: contain;

            &:hover {
                background: url("../img/svg/htmlacademy_hov.svg") no-repeat;
            }

            &:active {
                background: url("../img/svg/htmlacademy_act.svg") no-repeat;
            }
        }

    }