.main_footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
}

    .contacts {
        margin-bottom: 40px;
        font-size: $font-size--heading;

        a {
            color: $color--black;
            font-weight: bold;
            text-decoration: none;
        }
    }

  
    .copyright {

        &__htmlacademy {
            @include inline-block(middle);
            margin-left: 10px;
            background: url("../img/svg/htmlacademy.svg") no-repeat;
            width: 30px;
            height: 35px;
            background-size: contain;
        }
    }