

.features {
	margin: 42px auto 0;
	padding-left: 74px;
	text-align: left;

	@media all and (min-width: $media-tablet) {
		margin: 54px 0 28px;
		padding: 0;
		text-align: center;
		font-size: 0;	    
	}

	@media all and (min-width: $media-desktop) {
		margin-bottom: 50px;			
	}


	&__title {
		margin: 0;
		padding-bottom: 18px;
		color: $color--text;
		font-size: $font-size--title;
		@media all and (min-width: $media-tablet) {
			padding-bottom: 28px;
			font-size: $font-size--heading;
		}
	}


	&__item--mob {
		position: relative;
		margin-bottom: 30px;
		color: $color--text;
		font-size: $font-size--text;
		line-height: $line-height--text;

		@media all and (min-width: $media-tablet) {
			display: none;
		}

		&:before {
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50% 0;
			content: "";
			position: absolute;
			top: -15px;
			left: -50px;
			width: 40px;
			height: 40px;
		}

		& p {
			width: 230px;
			margin: 0;
		}
	}

		&__item {
			position: relative;
			color: $color--text;
			font-size: $font-size--text;
			line-height: $line-height--text;
			display: none;

		@media all and (min-width: $media-tablet) {
			@include inline-block;
			width: 23.33%;
			padding: 104px 4% 0;
			margin-bottom: 32px;
			line-height: 21px;
		}

		@media all and (min-width: $media-desktop) {
			padding: 104px 5% 0;
		}

			&:before {
				background-repeat: no-repeat;
				background-size: contain;
				background-position: 50% 0;
				content: "";
				position: absolute;
				top: -15px;
				left: -50px;
				width: 40px;
				height: 40px;
				
				@media all and (min-width: $media-tablet) {
					top: 0;
					left: 50%;
					margin-left: -38px;
					width: 74px;
					height: 74px;
				}
			}

		&--house:before {
			background-image: url("../img/icons/icon-house.svg");
		}

		&--gift:before {
			background-image: url("../img/icons/icon-gift.svg");
		}

		&--hamburger:before {
			background-image: url("../img/icons/icon-burger.svg");
		}

		& p {
				@media all and (min-width: $media-tablet) {
					width: 170px;
					margin: 0;
				}
	
				@media all and (min-width: $media-desktop) {
					width: 270px;
				}
			}	
	}
}

		
