

.hotel_search {
	margin: 0 auto;
	text-align: center;
}

	.hotel_search__title {
		margin: 0;
		padding-top: 30px;
		padding-bottom: 30px;
		color: $color--black;
		font-size: $font-size--title;
		line-height: $line-height--title;

		@media all and (min-width: $media-tablet) {
			margin: 0;
			padding-top: 55px;
			font-size: $font-size--gigant;
		}
	}

	.hotel_search__text {
		width: 260px;
		margin: 0 auto 40px;
		color: $color--text;
		font-size: $font-size--text;
		line-height: $line-height--title;

		@media all and (min-width: $media-tablet) {
			width: 440px;
			margin: 0 auto 48px;
		}
	}

	.hotel_search__find_button {
		width: 280px;
		margin: 0 auto;
		display: block;
		padding-top: 18px;
		padding-bottom: 18px;
		color: $color--white;
		font-size: $font-size--title;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
		background: $color--reason;
		border: 0;

		&:hover {
			background: darken($color--reason, 3%); 
		}

		&:active {
			background: darken($color--reason, 5%);
			color: lighten($color--reason, 10%);
		}

		&:disabled {
			background: #e5e5e5;
		}
		
		@media all and (min-width: $media-tablet) {
			width: 460px;
		}

	}
