

.hotel_search {
	margin: 0 auto;
	text-align: center;

	
	&__title {
		margin: 0;
		padding-top: 25px;
		padding-bottom: 20px;
		color: $color--black;
		font-size: $font-size--heading;
		line-height: $line-height--title;

		@media all and (min-width: $media-tablet) {
			margin: 0;
			padding-top: 42px;
			padding-bottom: 28px;
			font-size: $font-size--gigant;
		}
	}

	&__text {
		width: 260px;
		margin: 0 auto 35px;
		color: $color--text;
		font-size: $font-size--text;
		line-height: 23px;

		@media all and (min-width: $media-tablet) {
			width: 440px;
			margin: 0 auto 48px;
		}
	}

	&__find_button {
		@extend .btns;
		
		display: block;
		margin: 0 auto;
		width: 280px;

		@media all and (min-width: $media-tablet) {
			width: 460px;
		}
	}
}
