

.index_header {
	position: relative;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;

	@media all and (min-width: $media-tablet) {
		padding: 54px 0;	
	}

	@media all and (min-width: $media-desktop) {
		padding: 58px 0;	
	}


	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 50%;
		bottom: 0;
		margin: 0 auto;
		background: url("../img/svg/intro-triangle--blue.svg") no-repeat 50% 100%;
		background-size: contain;
		height: 37px;
		width: 768px;
		transform: translate(-50%, 0);

		@media all and (min-width: $media-tablet) {
			display: none;
		}
	}

	&__title {
		width: 260px;
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 30px;
		color: $color--black;
		font-size: $font-size--title;

		@media all and (min-width: $media-tablet) {
			width: 445px;
			padding-top: 0;
			font-size: $font-size--heading;
			line-height: 26px;
		}

	}

	p {
		width: 255px;
		margin: 0 auto;
		padding-bottom: 40px;
		font-size: $font-size--text;
		line-height: $line-height--title;

		@media all and (min-width: $media-tablet) {
			width: 490px;
			padding-bottom: 0;
		}
	}

}

	
