

.index_header {
	width: 260px;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;

	p {
		margin-top: 35px;
		font-size: $font-size--text;
		line-height: $line-height--title;	
	}
}

	.index_header__title {
		color: $color--black;
		font-size: $font-size--title;
		line-height: $line-height--title;
	}

	
