


.main_header {
	position: relative;
	width: 320px;
	margin: 0 auto;
}

	.logo {
		position: absolute;
		top: 214px;
		width: 100%;
		height: 55px;
		margin: 0;
		text-align: center;
		z-index: 20;

		& a {
			width: 138px;
			height: 70px;
		}

	}

	.nav {
		position: relative;

		ul {
			@include no-list;
		}
		

		&__item {
			padding-top: 16px;
			padding-bottom: 16px;
			text-align: center;
			background: $color--reason;
			border-bottom: 1px solid $color--support;


			a {
				display: block;
				text-decoration: none;
				color: $color--white;
				font-family: $font-family--main;
				font-weight: bold;
				font-size: $font-size--title;
				text-transform: uppercase;	
			}
		}
			
	}

	.nav__item--logo {
		position: relative;
		width: 140px;
		height: 72px;
		left: 50%;
		margin-left: -70px;
		background: url("../img/form-logo-triangle.svg");
		background-size: contain;
		z-index: 10;
	}

	.menu_btn {
		width: 25px;
		height: 4px;
		border: 0;	

		&--close {
			position: absolute;
			right: 20px;
			top: 20px;
			background: $color--white;
			transform: rotate(45deg);
			z-index: 10;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 25px;
				height: 4px;
				background: $color--white;
				transform: rotate(-45deg);
			}
		}

		&--open {
			position: absolute;
			right: 20px;
			top: 235px;
			background: $color--reason;
			z-index: 10;

			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 10px;
				right: 0;
				width: 25px;
				height: 4px;
				background: $color--reason;
			}

			&:after {
				top: -10px;
			}
		}
	}

	
	



