

.reason_pic {
	width: 320px;
	margin: 0 auto;	
	background: $color--reason;
	text-align: center;
}
	

	.reason_pic__item {
		position: relative;
		color: $color--white;
		padding-top: 45px;
		padding-bottom: 45px;

		&:first-child {
			padding-top: 60px;
		}

		&:first-child:before {
			position: absolute;
			background: url(../img/white_mask_2.png) no-repeat 0 100%;
    		background-size: contain;
    		content: '';
    		display: block;
    		left: 0;
    		right: 0;
    		top: 0px;
    		height: 37px;
		}

		p {
			margin: 0;
			margin-top: 10px;
		}
	}
	
		.reason_pic__title {
			margin: 0;
			margin-bottom: 10px;
			color: $color--white;
		}

		.reason_pic__number {
			position: relative;
		

			&:before,
			&:after {
				position: absolute;
    			content: '';
    			top: 50%;
    			left: -15px;
    			height: 2px;
    			width: 8px;
    			background: #fff;
    			opacity: 0.5;
    			margin: -1px 0 0;
			}
	
			&:after {
				left: 25px;
			}
		}