.btn {
    background: $color--input;
    border: 0;
    color: rgba(0, 0, 0, 0.3);
    display: block;
    font-size: 21px;
    font-family: $font-family--main;
    font-weight: bold;
    line-height: 58px;
    height: 58px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 280px;
    margin: 0 auto;

    &--blue {
        background: $color--reason;
        color: #fff;

        &:hover {
            background: #669ec0;    
        }

        &:active {
            background: #5496bd;
            color: #88b6d1; 
        }   
    }

    &--sm {
        width: 272px;
    }

    @media all and (min-width: $media-tablet) {
        width: 458px;

        &--sm {
            width: 272px;
        }
    }
}