

.fieldset_check {
	margin: 0 auto;
	padding: 0;
	font-size: 0;
	border-bottom: 1px solid #e5e5e5;

	@media all and (min-width: $media-tablet) {
		width: 664px;
		border-top: 1px solid #e5e5e5;
		border-bottom: 0;
	}

	@media all and (min-width: $media-desktop) {
		width: 960px;
	}


	&__legend {
		width: 242px;
		margin: 0 auto;
		padding-top: 18px;
		margin-bottom: 	15px;
		text-align: center;
		vertical-align: middle;
		color: $color--black;
		font-size: 21px;
		font-weight: bold;
		line-height: 24px;

			@media all and (min-width: $media-tablet) {
				padding: 30px 60px;
		}
	}

	&__filter {
		@include no-list;
		margin-left: 20px;
		font-size: $font-size--title;
		font-weight: bold;
		line-height: 60px;
		text-transform: none;

		@media all and (min-width: $media-tablet) {
			margin-left: 0;
		}
	

		& li {

			@media all and (min-width: $media-tablet) {
				@include inline-block;

				&:nth-child(odd) {
					margin-left: 96px;
				}

				&:nth-child(even) {
					margin-left: 70px;
				}	
			}
	
			@media all and (min-width: $media-desktop) {

				&:nth-child(odd) {
					margin-left: 48px;
				}

				&:nth-child(even) {
					margin-left: 48px;
				}	

				&:first-child {
					margin-left: 0;			
				}					
			}
		}
	}
	

		&__field {
			position: relative;
			display: none;

			& + label {
				
				line-height: 60px;

				&:before {
					@include inline-block;
					content: "";
					width: 60px;
					height: 60px;
					margin-right: 30px;
					margin-bottom: 20px;
					text-align: center;
					border-radius: 5px;
					background: $color--input;

				}

				&:hover {
            		
            		&:before {
                		background: #e5e5e5;	
            		}
        		}

        		&:active {
            		
            		&:before {
                		background: #d5d5d5;	
            		}
        		}
			}

			&:checked + label:before {
				background: $color--input url("../img/icons/icon-checkbox.svg") no-repeat 50% 50%;	
			}

			&:checked + label {

				&:hover {
					
					&:before {
						background: #e5e5e5;
					}
				}

				&:active {
            		
            		&:before {
                		background: #d5d5d5;	
            		}
        		}
			}

		}

}
	




			
			
			
		