


.fieldset_load {
	

	&__btn {
		display: block;
		width: 280px;
		margin: 0 auto;
		margin-bottom: 50px;
		margin-top: 40px;
		padding-top: 19px;
		padding-bottom: 19px;
		border: none;
		color: $color--icon;
		font-size: $font-size--heading;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		background: $color--input;

		@media all and (min-width: $media-tablet) {
			width: 456px;
		}

		@media all and (min-width: $media-desktop) {
			width: 956px;
			color: $color--white;
			background: $color--reason;

			& span {
				display: none;
			}
		}

		&:hover {
			background: #e5e5e5;
		}

		&:active {	
			background: #d5d5d5;
		}
		
		& p {
			display: none;

			@media all and (min-width: $media-desktop) {
				display: inline;
			}
		}

		&--submit {
			color: $color--white;
			background: $color--reason;
		}
	}
}

	@media all and (min-width: $media-desktop) {
		.fieldset_load__btn {
			background: $color--reason;
		}
		.fieldset_load__btn:hover {
			background: #669ec0;
		}
		.fieldset_load__btn:active {
			background: #5496bd;
            color: #88b6d1;
		}		
	}

		
	
