

.fieldset_load {
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 0;
	border: 0;

	@media all and (min-width: $media-tablet) {
		border-top: 1px solid #e5e5e5;
	}

	&__btn {
		@extend .btns;

		display: block;
		width: 280px;
		margin: 0 auto 50px;	

		@media all and (min-width: $media-tablet) {
			width: 456px;
		}

		@media all and (min-width: $media-desktop) {
			width: 956px;
			color: $color--white;
			background: $color--reason;	
		}

		& span {
			display: none;

			@media all and (min-width: $media-desktop) {
				display: inline;
			}
		}

		& i {
			font-style: normal;
			display: inline;

			@media all and (min-width: $media-desktop) {
				display: none;
			}
		}
	}
}