


.field_photos {
	margin: 0 auto;
	padding: 0;
	border: 0;

	& input[type="button"],
	& input[type="submit"] {
		display: block;
		margin-left: 20px;
		margin-right: 20px;
		padding-top: 19px;
		padding-bottom: 19px;
		border: none;
		color: $color--icon;
		font-size: $font-size--heading;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		background: $color--input;
	}

	& input[type="submit"] {
		width: 280px;
		color: $color--white;
		background: $color--reason;
	}
}

	.field_photos__legend {
		margin: 0 auto;
		padding-top: 22px;
		padding-bottom: 25px;
		text-align: center;
		color: $color--black;
		font-size: $font-size--title;
		font-weight: bold;
		
	}

	.field_photos__gallery {
		display: flex;
		margin: 55px 20px 50px;
		justify-content: between;
		flex-wrap: wrap;
		
	}

	.field_photos__item {
		width: 70px;
		height: 70px;
		margin-right: 35px;
		margin-bottom: 35px;

		& img {
			width: 70px;
			height: 70px;
		}
	}  