

.form_header {
	margin-top: 75px;
	padding-bottom: 20px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;

	@media all and (min-width: $media-tablet) {
		margin-top: 72px;
		padding-bottom: 40px;
		border: 0;
	}
	
	@media all and (min-width: $media-tablet) {
		margin-top: 115px;
	}

	p {
		width: 280px;
		margin: 0 auto;
		font-size: $font-size--text;
		line-height: 23px;

		@media all and (min-width: $media-tablet) {
			width: 440px;
		}	
	}


	&__title {
		margin: 0;
		margin-bottom: 36px;
		color: $color--black;
		font-size: $font-size--title;
		font-weight: bold;

		@media all and (min-width: $media-tablet) {
			font-size: $font-size--gigant;
		}
	}
}

	