

.form_header {
	margin-top: 75px;
	padding-bottom: 25px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;

	@media all and (min-width: $media-tablet) {
		margin-top: 40px;
		padding-bottom: 70px;
		border: 0;
	}
	

	p {
		width: 280px;
		margin: 0 auto;
		font-size: $font-size--text;
		line-height: $line-height--title;

		@media all and (min-width: $media-tablet) {
			width: 440px;
		}	
	}


	&__title {
		margin: 0;
		margin-bottom: 35px;
		color: $color--black;
		font-size: $font-size--title;
		font-weight: bold;
		line-height: $line-height--title;

		@media all and (min-width: $media-tablet) {
			padding-top: 70px;
			font-size: $font-size--gigant;
			}
	}
}

	