

$color--white: #fff;
$color--black: #000;


$color--text: #333;
$color--reason: #81b3d2;
$color--gray: #eee;
$color--support: #766357;
$color--service: #d6d6d6;
$color--input: #f2f2f2;
$color--icon: #b8b8b8;


$font-size--text: 14px;
$line-height--text: (21/14) + em;

$font-size--title: 18px;
$line-height--title: (26/18) + em;

$font-size--heading: 21px;
$font-family--main: "PT Sans", Arial, sans-serif;


$media-tablet: 640px;




 
