
.form {
    position: relative;
    padding-bottom: 100px;

    @media all and (min-width: $media-desktop) {
        padding-bottom: 64px;
    }
}

.popup {
    position: fixed; 
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    color: $color--text;
    width: 402px;
    padding: 60px 0 50px;
    background: #fff;
    transform: translate(-50%);
    box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10;
    
    &__title {
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
        font-size: $font-size--gigant;
        line-height: 36px;
    }

    & p {
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 0 60px;
        text-align: center;
    }

    &--success {
        width: 642px;
        padding: 60px 0 0; 
        bottom: 0;
    }

     &__footer {
        width: 100%;
        background: #f2f2f2;
        padding-top: 45px;
        padding-bottom: 40px;
    } 
}

    


   

   
