  .social {
        margin: 40px 0;
        text-align: center;
        font-size: 0;

        @media all and (min-width: $media-tablet) {
            @include inline-block(middle);
            margin: 0;
            width: 33.33%;
        }
        
        &_btn {
            @include inline-block;
            position: relative;
            width: 50px;
            height: 50px;
            margin-left: 5px;
            background: $color--reason;

            &:after {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 10;

                &:active {
                    color: lighten($color--reason, 10%);
                }
            }

            &:hover {
                background: darken($color--reason, 3%);
            }


            &--twitter {

                &:after {
                    background-image: url("../img/icons/icon-twitter.svg");
                    top: 15px;
                    left: 15px;
                }
            }

            &--facebook {
                &:after {
                    background-image: url("../img/icons/icon-facebook.svg");
                    top: 15px;
                    left: 15px;
                }
            }

            &--youtube {
                &:after {
                    background-image: url("../img/icons/icon-youtube.svg");
                    top: 18px;
                    left: 15px;
                }
            }

        }
    }
